@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(./fonts/TildaSans-Light.ttf) format("ttf");
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(./fonts/TildaSans-Regular.ttf) format("ttf");
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(./fonts/TildaSans-Medium.ttf) format("ttf");
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(./fonts/TildaSans-Semibold.ttf) format("ttf");
}


@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(./fonts/TildaSans-Bold.ttf) format("ttf");
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url(./fonts/TildaSans-Black.ttf) format("ttf");
}

.page {
    height: 100%;
}

.page-body {
    min-height: 100%;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #1d2741;
    padding-top: 170px;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 60px;
    box-sizing: border-box;
}

.header-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* чтобы быть поверх других элементов */
    background-color: white; /* важно, чтобы не просвечивал контент снизу */
    padding: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05); /* по желанию */
}

.navbar {
    position: relative; /* чтобы позиционирование кнопки было относительно navbar */
    display: flex;
    justify-content: center; /* ставим ul по центру */
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 100px;
}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}

.nav-link:hover {
    opacity: 0.5;
}

.nav-button {
    position: absolute;
    right: 40px;
    top: 50%; /* Ставим по середине родителя */
    transform: translateY(-50%); /* Центруем по оси Y */
    right: 40px;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #FF9235;
    color: #FF9235;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-button:hover {
    background: #FF9235;
    color: white;
}

.intro-top {
    text-align: center;
}

.intro-top h1 {
    font-size: 54px;
}

.intro-top-text-wrapper {
    font-size: 36px;
    font-weight: 200;
    text-align: center;
}

.intro-bottom {
    display: flex;
    justify-content: center;
}

.intro-image {
    max-width: 650px;
    width: 100%;
    height: auto;
}

.description .container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 0;
}

.description-top h2 {
    text-align: center;
    font-size: 54px;
    margin-bottom: 10px;
}

.description-top {
    min-width: 100%;
    min-height: 550px;
    background-color: #5DD9C8;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description-top p {
    text-align: center;
    font-size: 36px;
    max-width: 1000px;
}

.description-bottom-image-wrapper {
    margin-top: -170px;
    overflow: hidden;
    height: auto;
    width: 20%;
    max-width: 600px;
    min-width: 450px;
    border: 3px solid #5DD9C8;
    border-radius: 12px;
}

.description-bottom-image {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.skills .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
}

.skills h2 {
    font-size: 54px;
}

.skills-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #5DD9C8;
    table-layout: fixed;
}

.skills-table th {
    border: 1px solid #5DD9C8;
    border-bottom: none;
    padding-top: 60px;
}

.skills-table-description td{
    padding: 0;
    margin: 0;
    padding: 0px 0 30px 0;
}

.skills-table th p {
    font-size: 36px;
}

.skills-table td {
    border: 1px solid #5DD9C8;
    border-top: none;
    border-bottom: none;
    font-size: 30px;
    text-align: center;
    vertical-align: top;
}

.skills-table-titles td {
    color: #FF9235;
    font-weight:600;
    margin: 0;
    padding: 0;
}

.skills-table-values {
    border: 1px solid #5DD9C8;
    border-top: none;
    border-bottom: none;
}

.skills-table-values ul{
    list-style: none;
    padding: 0;
    margin: 0;
    padding: 20px 0 40px 0;
}

.projects .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.projects .container h2 {
    font-size: 54px;
}

.projects .container ul {
    display: grid;
    grid-template-columns: repeat(3, 390px);
    gap: 5px;
    padding: 0;
}

.projects-item {
    width: 380px;
    height: 220px;
    overflow: hidden;
    border: 4px solid #8063A6;
    border-radius: 12px;
}

.projects-item p{
    font-size: 28px;
    text-align: center;
    color: #8063A6;
    padding: 50px;
}

.projects-item-image {
    object-fit: cover;
    width: 130%;
    height: 100%;
    border-radius: 12px;
}

.projects-button a{
    font-size: 25px;
    font-weight: 600;
    padding: 15px 20px;
    text-decoration: none;
    border: 4px solid #FF9235;
    color: #FF9235;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.projects-button a:hover {
    background: #FF9235;
    color: white;
}

.projects-button {
    margin: 70px;
}

.contacts .container {
    width: 100%;
    justify-self: center;
}

.contacts-top {
    max-width: 100%;
    background-color: #5DD9C8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-top h2 {
    font-size: 54px;
    margin: 80px 0 20px 0;
}

.contacts-top-wrapper {
    padding: 0 0 30px 0;
}

.contacts-top-wrapper p {
    font-size: 28px;
}

.contacts-bottom {
    padding: 40px 80px;
    max-width: 1900px;
    margin: 0 auto;  
    display: flex;
    gap: 90px;
    align-items: center;
    padding: 90px 0 30px 90px;
    gap: 100px;
}

.contacts-bottom-left {
    flex: 1; /* 1 часть */
    max-width: 40%;
    width: 800px;
    height: 650px;
    overflow: hidden;
}

.contacts-bottom-left img{
    object-fit:contain;
    width: 100%;
    height: 100%;
}

.contacts-bottom-right {
    flex: 2; /* 2 части, т.е. шире чем левая */
    max-width: 60%;
    height: 100%;
    align-self: flex-start;
}

.contacts-bottom-right form {
    display: flex;
    flex-direction: column;
    gap: 40px; /* расстояние между строками формы */
}

.contacts-form-top {
    display: flex;
    justify-content: space-between;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}   

.contacts-form-top-input{
    display: flex;
    flex-direction: column;
    gap: 8px; /* или сколько хочешь между label и input */
}

.contacts-form-top-input input,
.contacts-form-top-input textarea {
    border: 1px solid #FF9235;
    border-radius: 15px;
    background: transparent;
    color: #FF9235;
    padding: 12px 10px;
    font-size: 26px;

}

.contacts-form-top-input input {
    width: 400px;
    height: 30px;
}

.contacts-form-top-input textarea {
    height: 400px;
    resize: none;
    width: 80%;
}   

.contacts-form-top-input label {
    font-size: 20px;
}

.form-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin-top: 30px; /* отступ если надо */
}

.contacts-bottom-right button {
    border: 2px solid #FF9235;
    color: #FF9235;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
}

.contacts-bottom-right button:hover {
    background: #FF9235;
    color: white;
}

.reviews .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews h2 {
    font-size: 54px;
    font-weight: 700;
    margin: 45px 0 30px 0;
}

.reviews-text-wrapper {
    font-size: 36px;
    max-width: 600px;
    text-align: center;
}

.reviews-item-image-wrapper {
    overflow: hidden;
    width: 350px;
    height: 240px;
    border: 4px solid #5DD9C8;
    border-radius: 12px;
}

.reviews-item-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.reviews-item,
.reviews-item form,
.reviews-item p,
.reviews-item figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviews-item-text-wrapper {
    padding: 25px 0 0 0;
}

.reviews-item p {
    font-size: 30px;
}

.reviews-item figcaption {
    font-size: 20px;
}

.reviews-figcaption {
    margin: 0 0 15px 0;
}

.reviews-buttons-wrapper {
    display: flex;
    gap: 10px;
}

.reviews-button button{
    border: 3px solid #FF9235;
    border-radius: 25px;
    background-color: #fff;
    max-height: 40px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.reviews-button img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

footer .container {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-top {
    display: flex;
    align-items: center;
    gap: 40px;
    background-color: #8063A6;
    height: 150px;
    border-radius: 12px;
    max-width: 1200px;
    position: relative;
    z-index: 2;
}

.footer-top h4 {
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    max-width: 200px;
    color: #fff;
    margin-left: 70px;
}

.footer-top-text-wrapper {
    text-align: center;
    max-width: 400px;
    color: #fff;
}

.footer-top-text-wrapper p {
    font-size: 20px;
}

.footer-top button {
    border: 3px solid #fff;
    border-radius: 12px;
    font-size: 20px;
    background-color: #8063A6;
    color: #fff;
    padding: 20px 30px;
    margin-right: 50px;
    cursor: pointer;
}

.footer-top button:hover {
    background-color: #fff;
    color: #8063A6;
}

.footer-bottom {
    width: 100%;
    background-color: #5DD9C8;
    margin-top: -75px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 120px 0 40px 0;
}

.footer-bottom-images-authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}

.footer-bottom-images-authors a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.footer-bottom-icons {
    display: flex;
    gap: 40px;
}

.footer-bottom-item {
    border: 4px solid #1d2741;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.footer-bottom-item img {
    width: 50px;  /* не 100%! */
    height: 50px;
    object-fit: contain;
}