.contacts .container {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding-top: 0;
}

.contacts-top {
    min-width: 100%;
    min-height: 320px;
    background-color: #5DD9C8;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-top h2 {
    font-size: 54px;
    margin: 80px 0 20px 0;
}

.contacts-top-wrapper {
    padding: 0 0 30px 0;
}

.contacts-top-wrapper p {
    font-size: 28px;
}

.contacts-bottom {
    padding: 40px 80px;
    max-width: 1900px;
    margin: 0 auto;  
    display: flex;
    gap: 90px;
    align-items: center;
    padding: 90px 0 30px 90px;
    gap: 100px;
}

.contacts-bottom-left {
    flex: 1; /* 1 часть */
    max-width: 40%;
    width: 800px;
    height: 650px;
    overflow: hidden;
}

.contacts-bottom-left img{
    object-fit:contain;
    width: 100%;
    height: 100%;
}

.contacts-bottom-right {
    flex: 2; /* 2 части, т.е. шире чем левая */
    max-width: 45%;
    height: 100%;
    align-self: flex-start;
}

.contacts-bottom-right form {
    display: flex;
    flex-direction: column;
    gap: 40px; /* расстояние между строками формы */
}

.contacts-form-top {
    display: flex;
    justify-content: space-between;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}   

.contacts-form-top-input {
    display: flex;
    flex-direction: column;
    max-width: 33%; /* или 50% если хочешь ровно пополам */
    gap: 8px;
}

.contacts-form-input {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.contacts-form-top-input input,
.contacts-form-input textarea {
    border: 1px solid #FF9235;
    border-radius: 15px;
    background: transparent;
    color: #FF9235;
    padding: 12px 10px;
    font-size: 26px;

}

.contacts-form-top-input input {
    width: 300px;
    height: 30px;
}

.contacts-form-input textarea {
    height: 400px;
    resize: none;
    width: 100%;
}   

.contacts-form-top-input label
.contacts-form-input label {
    font-size: 20px;
}

.form-button-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 103%;
    margin-top: 30px; /* отступ если надо */
}

.contacts-bottom-right button {
    border: 2px solid #FF9235;
    color: #FF9235;
    border-radius: 15px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
}

.contacts-bottom-right button:hover {
    background: #FF9235;
    color: white;
}