@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 200;
    src: url(.assets//fonts/TildaSans-Light.ttf) format("ttf");
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(.assets//fonts/TildaSans-Regular.ttf) format("ttf");
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url(.assets//fonts/TildaSans-Medium.ttf) format("ttf");
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: url(.assets//fonts/TildaSans-Semibold.ttf) format("ttf");
}


@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(.assets//fonts/TildaSans-Bold.ttf) format("ttf");
}

@font-face {
    font-family: "Tilda Sans";
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: url(.assets//fonts/TildaSans-Black.ttf) format("ttf");
}