@media (min-width: 784px) {
    .intro {

    @media (min-width: 900px) {
        .shadow {
            @include container-size;
            height: 10.9vh;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 1.56);
            z-index: 1;
            position: fixed;
        }
    }

    @media (max-width: 900px) {
        .shadow {
            @include container-size;
            height: 9.9vh;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 1.56);
            z-index: 1;
            position: fixed;
        }
    }

    .intro-top {
        @include display-flex-center-vertical;
        padding-top: 15.3vh;
    }

    h1 {
        @include Headline;
        text-transform: uppercase;
    }

    .intro-top-text-wrapper{
        @include fonts-36-54-400;
        width: 58.85vw;
    }

    .intro-bottom {
        @include display-flex-center-horizontal;
    }

    .intro-image {
        width: 33.85vw;
        height: auto;
    }
    }
}

@media (max-width: 784px) {
     @media (max-width: 900px) {
        .shadow {
            @include container-size;
            height: 9.9vh;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 1.56);
            z-index: 1;
            position: fixed;
        }
    }

    .intro-top {
        @include display-flex-center-vertical;
        padding-top: 15.3vh;
    }

    h1 {
        @include Headline900;
        text-transform: uppercase;
        margin: 0;
    }

    .intro-top-text-wrapper{
        @include fonts-func(5.3vh, 7vh, 400);
        width: 180.85vw;
    }

    .intro-bottom {
        @include display-flex-center-horizontal;
    }

    .intro-image {
        width: 103.85vw;
        height: auto;
    }
}